@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

body {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

.Header {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-9 */
  display: flex;
  padding: 10px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
  padding-bottom: 100px;
}

.cobaNavbarToggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.Logo {
  /* width: 151px; */
  /* margin-right: 10px; */
  height: 41px;
  margin-top: -10px;
  transition: margin 0.125s ease;
}
.Logo svg {
  transform: scale(0.5);
  transform-origin: 0 0;
}
.Logo svg path {
  fill: #e50914;
  transition: fill 0.125s ease;
}
.Logo:hover {
  cursor: pointer;
  margin-top: -5px;
}
.Logo:hover svg path {
  fill: #ffffff !important;
}

.Navigation ul {
  display: flex;
  height: 37px;
  align-items: center;
  padding: 0 10px;
  list-style: none;
  margin: 0;
}
.Navigation ul li {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  transition: background 0.125s ease;
  border-radius: 3px;
}
.Navigation ul li:hover {
  background: #e50914;
  cursor: pointer;
}

.Search {
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
.Search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20%;
  background: transparent;
  color: #ffffff;
  appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}
.Search input:focus {
  border: 2px solid #e50914;
  width: 30%;
}

.UserProfile {
  margin-left: auto;
}
.UserProfile .User {
  display: flex;
}
.UserProfile .User .image {
  border-radius: 44px;
  margin-left: 10px;
  margin-top: 0;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border 0.125s ease;
}
.UserProfile .User .image img {
  width: 100%;
  display: block;
}
.UserProfile .User .name {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
  text-transform: capitalize;
}
.UserProfile .User:hover {
  cursor: pointer;
}
.UserProfile .User:hover .image {
  border: 3px solid #e50914;
}
.UserProfile .UserProfile-menu {
  display: none;
  margin-top: 10px;
}
.UserNavigation {
  margin-top: 10px;
}
.UserNavigation ul li {
  margin-top: 5px;
}
.btn-blank {
  border: none;
  background-color: inherit;
  color: white;
  padding: 0
}
.btn-blank:hover {
  color: #e50914;
}

.btn-SignIn {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  transition: background 0.125s ease;
  border-radius: 3px;
}

.btn-SignIn:hover {
  background: #e50914;
  cursor: pointer;
}


.Hero {
  width: 100%;
  position: relative;
  background-size: cover;
  min-height: 800px;
}
.Hero .content {
  position: relative;
  z-index: 4;
  width: 80vw;
  left: 10vw;
  top: 10vw;
}

.Hero .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}
.Hero .content p {
  width: 60%;
}
.Hero .content .button-wrapper {
  display: flex;
  width: 400px;
  margin-top: 30px;
}
.Hero .content .button-wrapper .Button:first-child {
  margin-right: 10px;
}
.Hero .overlay {
  background: -moz-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
}

.Button {
  background: transparent;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  width: 30%;
  transition: border 0.125s ease, background 0.125s ease;
}
.Button:hover {
  border: 2px solid #f5f5f1;
}
.Button[data-primary=true] {
  border: 2px solid #e50914;
}
.Button[data-primary=true]:hover {
  background: #e50914;
}

.Hero ~ .TitleList:nth-child(3) {
  margin-top: -10vw;
  position: relative;
  z-index: 4;
}

.TitleList {
  padding: 20px 40px;
  box-sizing: border-box;
  transition: opacity 3s ease;
  opacity: 0;
}
.TitleList .titles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  justify-content: space-between;
}
.TitleList[data-loaded=true] {
  opacity: 1;
}

.Item {
  /* width: calc(20% - 10px); */
  /* min-width: calc(20% - 10px); */
  /* height: 200px; */
  width: 200px;
  min-width: calc(20% - 10px);
  background-color: #000000;
  flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background 1s ease;
}
.Item:nth-child(n+6) {
  margin-top: 20px;
}
.Item:last-child {
  margin-right: 0;
}
.Item .overlay {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.125s ease;
}
.Item .overlay .title {
  font-size: 22px;
  font-weight: 200;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.Item .overlay .rating {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.25s ease 0.125s;
}
.Item .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
}
.Item:hover {
  background-size: 150%;
}
.Item:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.Item:hover .overlay .plot {
  margin-top: 10px;
  opacity: 1;
}
.Item:hover .overlay .title {
  opacity: 1;
}
.Item:hover .overlay .rating {
  opacity: 1;
}
.Item:hover .overlay .ListToggle {
  opacity: 1;
}

.ListToggle {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 32px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
}
.ListToggle:hover {
  border: 2px solid #ffffff;
}
.ListToggle:hover div {
  top: -32px;
}
.ListToggle[data-toggled=true] {
  background: #e50914;
  border: 2px solid #e50914;
}
.ListToggle[data-toggled=true] div {
  top: -32px;
}
.ListToggle div {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 32px;
  transition: 0.125s ease;
}
.ListToggle div i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}
a, a:hover { 
  text-decoration: none;
  color: white
}

/* @media screen and (max-width: 535px) {
  .Header{  
    display: block;
    margin-bottom: 0;
    padding: 20px;
  }
  .navbar-brand{
    width: 100%;
    text-align: center;
  }
} */
@media screen and (min-width: 700px) {
  .Hero .content {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .Hero .content p {
    width: 100%;
  }
}